body {
  background: linear-gradient(rgb(50, 50, 50), rgb(1, 2, 3) 30%);
  background-attachment: fixed;
}

.header {
  display: flex;
  flex-direction: row;
  align-content: center;
  height: fit-content;
}

.header .homebutton {
  font-size: 20px;
  color: rgb(200, 200, 200);
  margin: 10px;
}

.header a:link,
.header a:visited,
.header a:hover,
.header a:active {
  text-decoration: none;
}
