body {
  background: linear-gradient(335deg, rgb(1, 2, 3) 30%, rgb(50, 50, 50));
}
.header {
  display: flex;
  height: 20vh;
  justify-content: center;
  align-items: center;
}

.header h1 {
  font-size: 100px;
  color: rgb(200, 200, 200);
}

.container {
  display: flex;
  height: 80vh;
  width: fit-content;
  overflow: hidden;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.container h2 {
  font-family: "Space Mono", monospace;
  color: rgb(150, 150, 150);
  font-size: 40px;
  margin: 30px;
  margin-left: 100px;
  width: fit-content;
}

.container h2:hover {
  font-size: 50px;
  color: white;
}
