body {
  background-color: black;
}

.container {
  place-items: center;
  height: 100vh;
  overflow: hidden;
  grid-row-gap: 50px;
}

h1 {
  font-family: "Space Mono", monospace;
  color: rgb(150, 150, 150);
  font-size: 80px;
  margin: 30px;
  margin-left: 100px;
  width: fit-content;
}

h1:hover {
  font-size: 120px;
  color: white;
}
